@media screen and (max-width: 600px) {
  textarea {
    width: calc(100% - 20px) !important;
    margin: auto !important;
    display: block;
  }
}
body {
  margin: 0;
}
* {
  color: #eeeeee;
}

h1 {
  font-size: 2em;
}
body,
textarea,
button {
  font-family: sans-serif;
  background-color: #212121;
}

textarea {
  min-width: 75%;
  min-height: 300px;
  margin: 5px;
}
button {
  margin-left: 5px;
}
button,
textarea {
  border-radius: 5px;
  border: 1px solid #4b4b4b;
}
